@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  text-transform: lowercase; /* opcional */
}
